<h1><%= @list.name %></h1>

<% @list.bookmarks.each do |bookmark| %>
<p><%= bookmark.comment %></p>
<p><%= bookmark.movie.title %></p><%= link_to "Delete", bookmark_path(@list), method: :delete, data: {confirm: "Are you sure?" } %>
<p><%= bookmark.movie.overview %></p>
<p><%= bookmark.movie.poster_url %></p>
<p><%= bookmark.movie.rating %></p>
<% end %>
<hr>
<%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
